/********** Template CSS **********/
:root {
    --primary:linear-gradient(to right, #30CFB4,#308ECF);
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}



/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: white;
}

